<form>
    <fieldset>
      <legend>Categoria</legend>
      <hr>
      <div>
        <form>
          <div class="form-group row">
            <label class="form-label">Nombre</label>
            <input class="form-control" 
                    type="text" 
                    placeholder="Nombre" 
                    required >
          </div>
          <div class="form-group">
              <label class="form-label">Descripción</label>
              <textarea class="form-control" 
                        rows="3"  
                        type="text" 
                        placeholder="Descripcion" 
                        required
                        >
        
              </textarea>
          </div>
          <br>
          <div>
            <button type="submit"  class="btn btn-outline-info btn-lg btn-block">Actualizar</button>
          </div>
        </form>
        
      </div>
    </fieldset>
  </form>

