<div class="container">
  <div class="row">
      <div class="col-sm-12">
        <form class=col-sm-12>
            <fieldset>
              <legend>Nuevo Turno</legend>
              <hr>
              <br>
              <br>
                <form autocomplete="off" (ngSubmit)="GuardarTur(formularioTur)" #formularioTur="ngForm" class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label ">Nombre</label>
                      <input class="form-control" 
                              ngModel 
                              name="nombrecliente" 
                              type="text" 
                              placeholder="Nombre" 
                              required >
                    </div>
                  
                    <div class="form-group col-sm-6">
                      <label class="form-label">Apellido</label>
                      <input class="form-control" 
                              ngModel 
                              name="apellidocliente" 
                              type="text" 
                              placeholder="Apellido" 
                              required>
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="form-label">Fecha</label>
                      <input 
                        type="date" 
                        class="form-control" 
                        ngModel 
                        name="fecha" 
                        placeholder="fecha" 
                        required >
                    </div>
                    <div class="form-group col-sm-2">
                      <label class="form-label">Hora</label>
                      <input class="form-control" 
                      ngModel 
                      name = "hora" 
                      type="time" 
                      list="listalimitestiempo" 
                      step="10"> 
                      <datalist id="listalimitestiempo"> 
                        <option value="09:00"> 
                        <option value="10:00"> 
                        <option value="11:00"> 
                        <option value="12:00"> 
                        <option value="13:00"> 
                        <option value="14:00"> 
                        <option value="15:00"> 
                        <option value="16:00"> 
                        <option value="17:00"> 
                        <option value="18:00"> 
                      </datalist>               
                    </div>
                    <div class="form-group col-sm-6">
                      <label class="form-label">Categoria</label>
                      <select class="form-control" ngModel name = "categoria">
                        <option *ngFor= "let c of categorias" [ngValue]="c">{{c.nombre}}</option>
                      </select>
                    </div>
                  </div>
                 
                  
                  <div class="form-group ">
                    <label class="form-label">Descripción</label>
                    <textarea class="form-control" 
                              rows="3" 
                              ngModel 
                              name="descripcion" 
                              type="text" 
                              placeholder="Descripcion" 
                              required>
                    </textarea>
                  </div>
                  <br>
                  <div>
                    <button type="submit" class="btn btn-outline-info btn-lg btn-block">Guardar turno</button>
                  </div>
                </form>
              
            </fieldset>
        </form>
      </div>
  </div>
</div>
