<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <input type="search" class="form-control"  placeholder="Buscar por nombre de categoria" role="combobox">
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <h3>Categorias</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover col-sm-12">
                        <thead>
                            <tr class="text-center">
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>DESCRIPCION</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let categoria of categorias" >
                                <td >{{categoria.id}}</td>
                                <td>{{categoria.nombre}}</td>
                                <td>{{categoria.descripcion}}</td>
                                <td>
                                    <div class="text-center" role="group" >
                                        <div class="btn-group mr-2" role="group" >
                                            <button type="button"  class="btn btn-outline-primary">Ver</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" >
                                            <button type="button" class="btn btn-outline-warning">Editar</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" >
                                            <button type="button"  class="btn btn-outline-danger">Eliminar</button>
                                        </div>
                                    </div>                               
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div>
                <button type="button" (click)="Nueva()" class="btn btn-outline-info btn-lg btn-block">Nueva Categoria</button>
            </div>
        </div>
    </div>
</div>


<!--button (click)="Listarcat()" class="btn btn-info">Categorias</button-->







