<div class="container">
  <div class="row">
      <div class="col-sm-12">
      <form>
          <fieldset>
            <legend>Nueva Categoría</legend>
            <hr>
            <br>
            <br>
            <div>
              <form autocomplete="off" (ngSubmit)="GuardarCat(formularioCat)" #formularioCat="ngForm">
                <div class="form-group">
                  <label class="form-label">Nombre</label>
                  <input class="form-control" 
                          ngModel 
                          name="nombre" 
                          type="text" 
                          placeholder="Nombre" 
                          required >
                </div>
                <div class="form-group">
                    <label class="form-label">Descripción</label>
                    <textarea class="form-control" 
                              rows="3" 
                              ngModel 
                              name="descripcion" 
                              type="text" 
                              placeholder="Descripcion" 
                              required
                              >        
                    </textarea>
                </div>
                <br>
                <div>
                  <button type="submit"class="btn btn-outline-info btn-lg btn-block" >Guardar</button>
                </div>
              </form>
              
            </div>
          </fieldset>
        </form>
      </div>
  </div>
</div>
