<form>
    <fieldset>
      <legend>Nueva Categoria</legend>
      <hr>
      <div>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input class="form-control" type="text"  name="nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group">
              <label for="exampleFormControlTextarea1">Descripción</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          
          <br>
        </form>
        <div>
          <button type="button" class="btn btn-outline-info btn-lg btn-block">Guardar</button>
        </div>
      </div>
    </fieldset>
  </form>
